* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand';
  margin: 2%;
  background-color: rgb(37, 35, 37);
  color: white;
  margin-top: 7%;
}



.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in1 {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in2 {
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in3 {
	-webkit-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in4 {
	-webkit-animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in5 {
	-webkit-animation: text-focus-in 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in6 {
	-webkit-animation: text-focus-in 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in7 {
	-webkit-animation: text-focus-in 8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in8 {
	-webkit-animation: text-focus-in 9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in9 {
	-webkit-animation: text-focus-in 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in10 {
	-webkit-animation: text-focus-in 11s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 11s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in11 {
	-webkit-animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in12 {
	-webkit-animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in13 {
	-webkit-animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in14 {
	-webkit-animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 12s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-22 11:32:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


/* 
-------------------------- */


/* Float four columns side by side */
.column {
  float: left;
  width: 14.28%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  background-color: transparent;
  border: 1px dotted white
}


/* 
-------------------------- */

